.content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 100%;
    text-align: center;
    border: solid;
    background: rgb(0, 0, 0, 0.5);
    color: white
}
#startBtn, #registerBtn {
    background-color: #337ab7;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 4px
}

#startBtn:hover, #registerBtn:hover {
    background-color: #697487;
    cursor: pointer;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
